/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 229, 229);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}


/* LAYOUT */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33%;
}

.col-3 {
  width: 25%;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .col-3 {
    width: 33%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .col-3 {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 479px) {
  .col-3 {
    width: 100%;
  }
}